/* shifts navbar to right. vars from flyingfox/chrome/vars.css */
/* hide tabs */
.tabbrowser-tab {
    display: none;
}

#tabs-newtab-button {
    display: none;
}

/* move window-controls down */
#TabsToolbar.browser-toolbar {
    display: inline-block !important;
    position: absolute;
    top: -26px !important;
    right: 0px;
}
/* styling the buttons */
.titlebar-buttonbox-container:-moz-window-inactive > * {
  filter: grayscale(50%) !important; 
}
.titlebar-buttonbox-container {
  background-color: transparent !important;
}
.titlebar-button {
  background-color: transparent !important;
}

.titlebar-min {
padding: 0px  !important;
	padding-left:  4px !important;
	padding-right: 12px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 4px  !important;
	margin-bottom: 0px  !important;
	background-color: transparent !important;
  list-style-image: url(min-normal.png) !important;
	transform: scale(1.3) !important;
}

.titlebar-min:hover {
	list-style-image: url(min-hover.png) !important;
	transform: scale(1.3) !important;
}

.titlebar-max {
padding: 0px  !important;
	padding-left:  4px !important;
	padding-right: 12px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 4px  !important;
	margin-bottom: 0px  !important;
	background-color: transparent !important;
  list-style-image: url(max-normal.png) !important;
	transform: scale(1.3) !important;
}

.titlebar-max:hover {
	list-style-image: url(max-hover.png) !important;
	transform: scale(1.3) !important;
}

.titlebar-restore {
padding: 0px  !important;
	padding-left:  4px !important;
	padding-right: 12px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 4px  !important;
	margin-bottom: 0px  !important;
	background-color: transparent !important;
  list-style-image: url(max-normal.png) !important;
	transform: scale(1.3) !important;
}

.titlebar-restore:hover {
	list-style-image: url(max-hover.png) !important;
	transform: scale(1.3) !important;
}
.titlebar-close {
padding: 0px  !important;
	padding-left:  4px !important;
	padding-right: 11px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 4px  !important;
	margin-bottom: 0px  !important;
	background-color: transparent !important;
  list-style-image: url(close-normal.png) !important;
	transform: scale(1.3) !important;
}

.titlebar-close:hover {
	list-style-image: url(close-hover.png) !important;
	transform: scale(1.3) !important;
} 